//paletas de colores unica para la pagina.
$color1: #f2ff00;
$color2: #74d10a;
$color3: #ac1037;
$color4: #1decbb;
$color5: #e818ef;
$color6: #1eb6ee;
$color7: #5b1159;
$color8: #b8f0e8;
$color9: #fc3b00;
$color10: #212121;



// fuentes de letras
$texto1:'Archivo', sans-serif;
$texto2:'Bebas Neue', cursive;
$texto3:'Kanit', sans-serif;
$texto4:'Lobster', cursive;
// Tamaños de letras
$letraxl:100px;
$letrag:50px;
$letram:30px;
$letras:20px;
$letrap:15px;
