$color1: #f2ff00;
$color2: #74d10a;
$color3: #ac1037;
$color4: #1decbb;
$color5: #e818ef;
$color6: #1eb6ee;
$color7: #5b1159;
$color8: rgb(184, 240, 232);

// Variables-colores de bootrastp
$red:#dc3545;
$purple:#6f42c1;




$texto1:'Archivo', sans-serif;
$texto2:'Bebas Neue', cursive;
$texto3:'Kanit', sans-serif;
$texto4:'Lobster', cursive;

$letraxl:100px;
$letrag:50px;
$letram:30px;
$letrap:15px;
